<!-- Begin donaciones Modals -->
<div class="modals" class="modals">
	{% for donacion in site.data.donaciones %}
		{% if page.modal == "all" or (page.modal == 'team' and (donacion.team != null or donacion.subTeam != null)) %}
		<div class="modal fade text-left people-modal" id="donacionDetail-{{ donacion.id }}" tabindex="-1" role="dialog" aria-labelledby="donacionDetailLabel-{{ donacion.id }}" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="close">
							<svg class="icon icon-cross" viewBox="0 0 32 32">
								<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-cross"></use>
							</svg>
							<div class="close-mask" data-dismiss="modal"></div>
						</div>
						{% if site.showSessions %}
							{% for session in site.data.sessions %}
								{% for session_donacion in session.donaciones %}
									{% if session_donacion == donacion.id %}
										<h4>{{ session.title }}</h4>
										{% if session.language != null %}
										<span class="theme-metadata"><span class="caption">Language: </span>{{ session.language }}</span>
										{% endif %}
										{% if session.complexity != null %}
										<span class="theme-metadata"><span class="caption">Complexity: </span>{{ session.complexity }}</span>
										{% endif %}
										{% if session.video %}
										<div class="theme-video embed-responsive embed-responsive-16by9">
										    <iframe class="embed-responsive-item" src="{{ session.video }}"></iframe>
										</div>
										{% endif %}
										<p class="theme-description">{{ session.description }}</p>
										{% if session.presentation %}
										<a class="theme-presentation" href="{{ session.presentation }}" title="Presentation" target="_blank">View presentation</a>
										{% endif %}
									{% endif %}
								{% endfor %}		
							{% endfor %}
							<hr>
						{% endif %}
						<div class="people-details">
							<div class="row">
								<div class="col-md-2 col-sm-2">
									<div class="flow-img img-circle people-img" style="background-image: url({{ site.baseurl | append: '/img/donations/' | append: donacion.thumbnailUrl }})"></div>
								</div>
								<div class="col-md-10 col-sm-10 details">
									<p class="name">{{ donacion.name }} {{ donacion.surname }}
										<span class="position">{{ donacion.title }}, {{ donacion.company }}</span>
									</p>
									{% if donacion.ribbon != null %}
									<div class="modal-ribbon-wrapper">
			                            {% for ribbon in donacion.ribbon %}
			                               <a class="modal-ribbon" href="{{ ribbon["url"] }}" target="_blank">{{ ribbon["title"] }}</a>   
			                            {% endfor %}
			                        </div>
			                        {% endif %}
									<p class="about">{{ donacion.bio }}</p>
									<ul>
										{% if donacion.facebook %}
											<li>
												<a href="https://www.facebook.com/{{donacion.facebook}}"target="_blank">Facebook</a>
											</li>
										{% endif %}

										{% if donacion.whatsapp %}
											<li>
												<a href="https://wa.me/{{donacion.whatsapp}}" target="_blank">Whatsapp</a>
											</li>
										{% endif %}
										
										{% if donacion.instagram %}
											<li>
												<a href="https://www.instagram.com/{{donacion.instagram}}" target="_blank">Instagram</a>
											</li>
										{% endif %}

										{% if donacion.site %}
											<li>
												<a href="https://www.{{donacion.site}}" target="_blank">Sitio Web</a>
											</li>
										{% endif %}

										{% if donacion.telefono %}
											<li>
												<a href="tel:{{donacion.telefono}}" target="_blank">Telefono </a>
											</li>
										{% endif %}
									</ul>
						
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	{% endfor %}
</div>
<!-- End donaciones Modals -->
