
<section id="about" class="about">
    <div class="content-wrapper">
        <a href="{{ site.baseurl }}/restaurantes/">Todos | </a>
        <a href="{{ site.baseurl }}/restaurantes/restaurantes">Restaurantes | </a>
        <a href="{{ site.baseurl }}/restaurantes/pastelerias">Pastelerías | </a>
        <a href="{{ site.baseurl }}/restaurantes/sushis">Sushi | </a>
        <a href="{{ site.baseurl }}/restaurantes/cervezas">Cerveza | </a>
        <a href="{{ site.baseurl }}/restaurantes/otros">Otros| </a>
    </div>
</section>