<script type="application/ld+json">
    [{
        "@context" : "http://schema.org",
        "@type" : "Event",
        "name" : "{{ site.title }}",
        "description": "{{ site.description }}",
        "image" : "{{ site.socialImageSrcGooglePlus | prepend: site.baseurl | prepend: site.url }}",
        "url" : "{{ site.url }}",
        },
 
        "performer" : [ 
        {% for restaurant in site.data.restaurantes %}
        {
            "@type" : "Person",
            "name" : "{{ restaurant.name }} {{ restaurant.surname }}",
            "image" : "{{ site.url | append: site.baseurl | append: '/img/restaurant/' | append: restaurant.thumbnailUrl }}",
            "jobTitle" : "{{ restaurant.title }}",
            "worksFor" : {
                "@type" : "Organization",
                "name" : "{{ restaurant.company }}"
            },
            "sameAs" : "{{ restaurant.social[0].link }}"
        }{% if forloop.index != forloop.length %},{% endif %}
        {% endfor %}  
        ],
    }]
    </script>