<!-- Begin restaurantes Modals -->
<div class="modals" class="modals">
	{% for restaurante in site.data.restaurantes %}
		{% if page.modal == "all"  %}
		<div class="modal fade text-left people-modal" id="restauranteDetail-{{ restaurante.id }}" tabindex="-1" role="dialog" aria-labelledby="restauranteDetailLabel-{{ restaurante.id }}" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="close">
							<svg class="icon icon-cross" viewBox="0 0 32 32">
								<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-cross"></use>
							</svg>
							<div class="close-mask" data-dismiss="modal"></div>
						</div>
						<!-- {% if site.showSessions %}
							{% for session in site.data.sessions %}
								{% for session_restaurante in session.restaurantes %}
									{% if session_restaurante == restaurante.id %}
										<h4>{{ session.title }}</h4>
										{% if session.language != null %}
										<span class="theme-metadata"><span class="caption">Language: </span>{{ session.language }}</span>
										{% endif %}
										{% if session.complexity != null %}
										<span class="theme-metadata"><span class="caption">Complexity: </span>{{ session.complexity }}</span>
										{% endif %}
										{% if session.video %}
										<div class="theme-video embed-responsive embed-responsive-16by9">
										    <iframe class="embed-responsive-item" src="{{ session.video }}"></iframe>
										</div>
										{% endif %}
										<p class="theme-description">{{ session.description }}</p>
										{% if session.presentation %}
										<a class="theme-presentation" href="{{ session.presentation }}" title="Presentation" target="_blank">View presentation</a>
										{% endif %}
									{% endif %}
								{% endfor %}		
							{% endfor %}
							<hr>
						{% endif %} -->
						<div class="people-details">
							<div class="row">
								<div class="col-md-2 col-sm-2">
								
									{% if restaurante.thumbnailUrl != null %}
									<div class="flow-img img-circle people-img" style="background-image: url({{ site.baseurl | append: '/img/restaurant/' | append: restaurante.thumbnailUrl }})"></div>
									{% endif %}
									<div class="flow-img img-circle people-img" style="background-image: url({{ restaurante.thumb }})"></div>
		
								
								</div>
								<div class="col-md-10 col-sm-10 details">
									<p class="name">{{ restaurante.name }} {{ restaurante.surname }}
										<span class="position">{{ restaurante.title }}, {{ restaurante.company }}</span>
									</p>
									{% if restaurante.ribbon != null %}
									<div class="modal-ribbon-wrapper">
			                            {% for ribbon in restaurante.ribbon %}
			                               <a class="modal-ribbon" href="{{ ribbon["url"] }}" target="_blank">{{ ribbon["title"] }}</a>   
			                            {% endfor %}
			                        </div>
			                        {% endif %}
									<p class="about">{{ restaurante.bio }}</p>

									<ul>
										{% if restaurante.facebook %}
											<li>
												<a href="https://www.facebook.com/{{restaurante.facebook}}"target="_blank">Facebook</a>
											</li>
										{% endif %}

										{% if restaurante.whatsapp %}
											<li>
												<a href="https://wa.me/{{restaurante.whatsapp}}" target="_blank">Whatsapp</a>
											</li>
										{% endif %}
										
										{% if restaurante.instagram %}
											<li>
												<a href="https://www.instagram.com/{{restaurante.instagram}}" target="_blank">Instagram</a>
											</li>
										{% endif %}

										{% if restaurante.site %}
											<li>
												<a href="https://www.{{restaurante.site}}" target="_blank">Sitio Web</a>
											</li>
										{% endif %}

										{% if restaurante.telefono %}
											<li>
												<a href="tel:{{restaurante.telefono}}" target="_blank">Telefono </a>
											</li>
										{% endif %}

										{% if restaurante.email %}
										<li>
											<a href="mailto:{{restaurante.email}}" target="_blank">Email </a>
										</li>
										{% endif %}
									</ul>


									<!-- <ul class="social">
										{% for social in restaurante.social %}
											<li>
												<a href="{{ social["link"] }}" target="_blank">
													<svg class="icon icon-{{ social["name"] }}" viewBox="0 0 30 32">
														<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social["name"] }}"></use>
													</svg>
												</a>
											</li>
										{% endfor %}
									</ul> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	{% endfor %}
</div>
<!-- End restaurantes Modals -->
